.ect-left{ position:absolute; left:2%; top:13%; background:#fff; width:47%; height:30%}
.ect-right{ position:absolute; right:2%; top:13%; background:#fff; width:47%; height:30%}
.full-right{ position:absolute; right:2%; top:45%; background:#fff; width:96%; height:50%}