{% extends "mainer.html" %}
{% block data %}

<p id="page-info"></p>
    <div id="page-inner">
        <div class="input-group-btn">
            <form id="searchdata" role="form" >
                {% csrf_token %}
                <div class="form-group input-group">
                    {% if name %}
                        <input name="uname" type="text" class="form-control input-lg" placeholder="{{ name }}" value="{{ name }}">
                    {% else %}
                        <input name="uname" type="text" class="form-control input-lg" placeholder="请输入员工姓名">
                    {% endif %}
                    <span class="input-group-btn">
                        <button id="get_people_assets" type="submit" class="btn btn-warning input-lg">搜索</button>
                    </span>
                </div>
            </form>
        </div>
    <div class="panel panel-default">
        <div class="col-lg-8">
            <h1 id="title"></h1><br>
            <table id="get_assets"></table>
        </div>
    </div>
    </div>
{% endblock %}
